<!DOCTYPE html>
<html ng-app="llapp" data-ng-cloak>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- css -->
  <link href="../css/bootstrap.min.css" rel="stylesheet">
  <link href="../css/app.css" rel="stylesheet">
  <link rel="icon" href="../img/favicon.ico">

  <!-- javascripts -->
  <script src="https://code.jquery.com/jquery-3.1.1.min.js" type="text/javascript"></script>
  <script src="../lib/bootstrap.min.js" type="text/javascript"></script>

  <script src="../js/solicitation.js" type="text/javascript"></script>

  <title>Lucene Lanches</title>
</head>
<body>

  <nav class="navbar navbar-custom">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand lang" key="solicitacao" href="#">Solicitação de Lanche</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <a href="#" id="pt" class="translate"><img src="../img/brasil.png" alt=""></a>
          <a href="#" id="en" class="translate"><img src="../img/eua.png" alt=""></a>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container-fluid">

    <!-- init first -->
    <div class="col-md-6 col-sm-12 col-xs-12">
      <form class="form-horizontal" id="solicitation-form">
        <div class="form-group">
          <div class="col-md-12">
            <input type="text" class="form-control lang-placeholder" key="nome" id="nome" name="nome" placeholder="Nome" maxlength="75">
            <div class="obrigatorio obg-nome lang" key="obrigatorio">
              Este campo é obrigatório.
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-12">
            <input type="text" class="form-control lang-placeholder" key="endereco" id="endereco" name="endereco" maxlength="100" placeholder="Endereço">
            <div class="obrigatorio obg-endereco lang" key="obrigatorio">
              Este campo é obrigatório.
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-12">
            <select id="lista" class="form-control">
              <option value="" class="lang" key="lista">Lista de Lanches</option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-3 control-label lang" key="tipoPao">Tipo de Pão</label>
          <div class="col-md-9 selectContainer">
            <select id="tipoPao" class="form-control">
              <option value="">Selecione...</option>
            </select>
            <div class="obrigatorio obg-pao lang" key="obrigatorio">
              Este campo é obrigatório.
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-3 control-label lang" key="queijo">Queijo</label>
          <div class="col-md-9 selectContainer">
            <select id="queijo" class="form-control">
              <option value="">Selecione...</option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-3 control-label lang" key="recheio">Recheio</label>
          <div class="col-md-9 selectContainer">
            <select id="recheio" class="form-control">
              <option value="">Selecione...</option>
            </select>
          </div>
        </div>

        <div class="row col-md-12 col-sm-12">

          <div class="row col-md-6 col-sm-4 col-lg-4">
            <div class="row">
              <label class="col-md-4 control-label lang" key="salada">Salada</label>
              <input class="dobrar" type="checkbox" name="dobrar-saladas" value="dobrar-saladas"/><label class="lang" key="dobrar">&nbsp;2x</label>
            </div>
            <div class="obrigatorio obg-salada lang" key="obrigatorio">
              Este campo é obrigatório.
            </div>
            <div class="check-left">
              <div class="radio" id="saladas">

              </div>
            </div>
          </div>

          <div class="row col-md-6 col-sm-4 col-lg-4">
            <div class="row">
              <label class="col-md-5 control-label lang" key="molhos">Molhos</label>
            </div>
            <div class="check-left">
              <div class="checkbox" id="molhos">

              </div>
            </div>
          </div>

          <div class="row col-md-6 col-sm-4 col-lg-4">
            <div class="row">
              <label class="col-md-5 control-label lang" key="temperos">Temperos</label>
            </div>
            <div class="check-left">
              <div class="checkbox" id="temperos">

              </div>
            </div>
          </div>

        </div>

        <div class="row form-group text-center col-md-12">
          <label class="text-value" id="lb-valorPedido">R$ 0,00</label>
        </div>

        <div class="form-group">
          <div class="col-md-6 col-sm-6 col-xs-12">
            <button type="button" id="btn-salvar" class="btn btn-warning btn-block lang" key="salvar">Salvar</button>
          </div>
          <span></span>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <button type="button" id="btn-finalizar" class="btn btn-success btn-block lang" key="finalizar">Finalizar</button>
          </div>
        </div>

      </form>
    </div>
    <!-- end first -->

    <!-- init second -->
    <div class="col-md-6 col-sm-12 col-xs-12">
      <div class="row">
        <img src="../img/snack.png" alt="" width="400px" height="100px;" class="pull-right imgsnack">
      </div>

      <div class="alert alert-danger lang" key="um-lanche" id="um-lanche">
        Ao menos um lanche deve ser selecionado para o pedido.
      </div>

      <div class="row">
        <ul class="list-group" id="lista-de-lanches">

        </ul>
      </div>

      <div class="row">
        <div class="col-md-12">
          <label class="pull-right text-value" id="lb-valor-total">R$ 0,00</label>
        </div>
      </div>

      <br>
    </div>
    <!-- end second -->

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title lang" key="ola">Olá </h4> <h4><b id="lb-nome" class=""> </b></h4>
          </div>
          <!-- <div class="modal-body"> -->
          <div class="col-md-12">
            <div class="col-md-6 modal-magin-top">
              <div class="row">
                <h4><span class="lang" key="valor">O valor do seu pedido é de </span></h4>
                <h3><span id="seu-pedido" class="label label-info"></span></h3>
              </div><br>
              <div class="row">
                <label class="lang" key="formaPagamento">Qual a forma de pagamento?</label>
                <div class="form-group">
                  <div class="checkbox" id="molhos">
                    <input type="radio" name="tipo-pagamento">&nbsp;&nbsp;<label class="radio-inline lang" key="credito">Crédito</label>&nbsp;&nbsp;
                    <input type="radio" name="tipo-pagamento">&nbsp;&nbsp;<label class="radio-inline lang" key="debito">Débito</label>&nbsp;&nbsp;
                    <input type="radio" name="tipo-pagamento">&nbsp;&nbsp;<label class="radio-inline lang" key="dinheiro">Dinheiro</label>&nbsp;&nbsp;
                  </div>
                </div>
              </div>

              <div class="row">
                <label class="lang" key="troco">Precisa de troco?</label>
                <div class="form-group">
                  <div class="checkbox" id="molhos">
                    <input type="radio" name="troco" value="S">&nbsp;&nbsp;<label class="radio-inline lang" key="sim">Sim</label>&nbsp;&nbsp;
                    <input type="radio" name="troco" value="N">&nbsp;&nbsp;<label class="radio-inline lang" key="nao">Não</label>&nbsp;&nbsp;
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-6 modal-magin-top">
              <div class="row">
                <h3><span class="lang label label-warning" key="seupedido">Seu pedido já está em andamento</span></h3>
              </div><br>
              <div class="row">
                <h4 class="lang" key="calculadora">Use nossa calculadora caso queira dividir o valor</h4>
              </div><br>
              <div class="row modal-inputs">
                <label class="col-md-6 lang" key="valorPedido">Valor do pedido</label>
                <div class="form-group col-md-6">
                  <input type="text" class="form-control" disabled id="valor-pedido" name="valor-pedido-a">
                </div>
              </div>
              <div class="row modal-inputs">
                <label class="col-md-6 lang" key="pessoas">Quantidade de pessoas</label>
                <div class="form-group col-md-6">
                  <input type="text" class="form-control" onkeyup="somenteNumeros(this);" id="quantidade-pessoas" maxlength="2" name="valor-pedido-a">
                </div>
              </div>
              <div class="row modal-inputs">
                <label class="col-md-6 lang" key="valorPessoa">Valor por pessoa</label>
                <div class="form-group col-md-6">
                  <input type="text" class="form-control" disabled id="valor-pessoa" name="valor-pedido-a">
                </div>
              </div>

              <div class="row modal-inputs">
                <div class="row" id="lb-valor-porcento">
                  <label class="col-md-4 modal-label-left lang" key="valorPedidoPessoa">Valor</label>
                  <label class="col-md-4">%</label>
                </div>
                <div class="row col-md-12" id="lista-pessoas">

                </div>
              </div>

            </div>
          </div>
          <!-- </div> -->
          <div class="modal-footer">
          </div>
        </div>

      </div>
    </div>

  </div>

</body>
<div class="bg_load"></div>
<div class="wrapper">
  <div class="inner">

  </div>
</div>
</html>
